.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .videoUploadText
  {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
  }

  /* Arrow CSS */
  .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line {
    width: 2px; 
    height: 250px; 
    background-color: black; 
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black; 
    margin-left: -9px;
  }

/* Video Upload Button */
.videoButtonContainer
{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}
  .videoUploadButton {
    padding: 20px 40px;
    margin-top: 5px;
    background-color: #f30000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .videoUploadButton:hover {
    background-color: #005bb5;
  }
  